

<!DOCTYPE html>

{% load static%}
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <header>
        
    </header>

    <main>

        <form action="">
            <fieldset>
              <legend>Login:</legend>
              <label for="fname">Login:</label><br>
              <input type="text" id="login" name="login"><br>
              <label for="lname">Password:</label><br>
              <input type="password" id="lname" name="lname"><br><br>
              <input type="submit" value="Entrar">
            </fieldset>
          </form>

    </main>

    <footer>

    </footer>

</body>

</html>